body{
    margin: 0;
}

.image1{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(Slange.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.image2{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(Hamster.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.image3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(Ekorn.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.image4{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(Vaskebjørn.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittel{
    display: inline-block;
    padding: 6px;
    background-color: darkgreen;
    color: black;
    font-size: 45px;
}











